                                                  ASSIGNMENT 01            
 -->   By Aman Sharma

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [ ]:
(i) string

In [1]:
a="Aman"
type(a)

str

(ii) list

In [2]:
l=[2,3,True,3+4j]
type(l)

list

(iii) float

In [3]:
c=3.4
type(c)

float

(iv) tuple

In [4]:
mytuple =("mango","banana","orange")
type(mytuple)

tuple

Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘
(ii)	var2 = ‘[ DS , ML , Python]’
(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)	var4 = 1.
What will be the data type of the above given variable.

(i)	var1 = ‘ ‘

In [6]:
var1 = ''
type(var1)

str

(ii) var2 = ‘[ DS , ML , Python]’

In [7]:
var2 = '[ DS , ML , Python]'
type(var2)

str

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

(iv)	var4 = 1

In [9]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i)	/
(ii)	% 
(iii)	//
(iv)	**

 (i) / 
  -->  It gives the Quotient in the Output

In [10]:
20/5

4.0

(ii) %
  -->  % is called the modulus operator.
  -->  % is used to find the remander of the values.

In [11]:
12%5

2

(iii) //
   -->  // is used to neglact the decimal values.
   -->  // gives the quotient by making it to equivalent integer.

In [12]:
2//7

0

(iv) **
  --> ** is a exponential operator, which takes the right hand side value to the power of the left hand side value.
  --> ** is used to calculate the squre ,cube etc.

In [13]:
 2 ** 4

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type

In [14]:
data_length = [ 2,'Aman',2.5,4.5454688,True,4+6j,8j,8,1,"pwskills"]
for i in data_length:
  print(i)
  data = type(i)
  print(data)

2
<class 'int'>
Aman
<class 'str'>
2.5
<class 'float'>
4.5454688
<class 'float'>
True
<class 'bool'>
(4+6j)
<class 'complex'>
8j
<class 'complex'>
8
<class 'int'>
1
<class 'int'>
pwskills
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible

In [19]:
          # Taking input of two numbers
A = int(input("Enter the first number: "))
B = int(input("Enter the second number: "))
while A%B==0:
    print('a is divisible by b', 'and a is divisible by b for', A/B, 'times')
    break
else:
    print('a is not divisible by b')

Enter the first number:  12
Enter the second number:  3

a is divisible by b and a is divisible by b for 4.0 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [20]:
list_data = list(range(1,26)) 
print(list_data)

for i in list_data:
  
  if i % 3 == 0 :
    print(i,"Is divisibal by 3")
  else:
    print(i,"Is not divisiable by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
1 Is not divisiable by 3
2 Is not divisiable by 3
3 Is divisibal by 3
4 Is not divisiable by 3
5 Is not divisiable by 3
6 Is divisibal by 3
7 Is not divisiable by 3
8 Is not divisiable by 3
9 Is divisibal by 3
10 Is not divisiable by 3
11 Is not divisiable by 3
12 Is divisibal by 3
13 Is not divisiable by 3
14 Is not divisiable by 3
15 Is divisibal by 3
16 Is not divisiable by 3
17 Is not divisiable by 3
18 Is divisibal by 3
19 Is not divisiable by 3
20 Is not divisiable by 3
21 Is divisibal by 3
22 Is not divisiable by 3
23 Is not divisiable by 3
24 Is divisibal by 3
25 Is not divisiable by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Ans. Immutable data type:-
--> An immutable object is an object whose value cannot be changed once it is created.
--> Any operation that appears to modify an immutable object actually creates a new object with the modified value. 
--> A data type which cannot be eddited, which means we cannot do any changes in terms of adding, removing, replacing with the help of index       value.

In [22]:
#Example:-
my_data =("Aman","Delhi","Haryana")
type(my_data)

tuple

In [23]:
# Changing the first element of the tuple
mydata[0]="UP"

NameError: name 'mydata' is not defined

    Mutable data type:-
--> A mutable object, on the other hand, is an object whose value can be changed once it is created.
--> A data type which can be eddited, which means we can do any changes in terms of adding, removing, replacing with the help of index value.

In [24]:
#Example:-
my_list = ["Aman", 2, 3]
type(my_list)

list

In [25]:
# Changing the first element of the list
my_list[1] = "Sharma"
print(my_list)

['Aman', 'Sharma', 3]

In [ ]:
 ------------------------------------------------------------- END  ---------------------------------------------------------------------------